[Unit]
Description=Serveo service
After=network.target
[Service]
User=pi
Group=pi
WorkingDirectory=/home/pi
ExecStart=/usr/bin/autossh -M 22 -y -R gardenr:22:localhost:22 serveo.net < /dev/ptmx
# we may not have network yet, so retry until success
Restart=on-failure
RestartSec=3s
[Install]
WantedBy=multi-user.target

# Install: sudo cp serveo.service /etc/systemd/system/serveo.service
# Enable: sudo systemctl enable serveo.service
# Start: sudo systemctl start serveo.service
# Status: sudo systemctl status serveo.service
# Note: Run the ExecStart command once on a terminal, if setup on a new device

# Stop: sudo systemctl stop serveo.service
# Disable: sudo systemctl disable serveo.service
# Uninstall: sudo rm /etc/systemd/system/serveo.service
